<h1><%= @cocktail.name %></h1>


<% @cocktail.doses.each do |dose| %>
  <p><%= dose.ingredient.name %> amount <%= dose.description %></p>
  <%= link_to "delete", dose_path(dose), method: :delete %>
<% end %>

<h3>Add button to to ingredients</h3>
<%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail) %>
<%= link_to "Cocktails", cocktails_path  %>
